/* 字体文件路径变量 */

$HarmonyOS_SansCondensedItalic_Black: ../fonts/HarmonyOS_SansCondensedItalic_Black.ttf;
$HarmonyOS_SansCondensedItalic_Bold: ../fonts/HarmonyOS_SansCondensedItalic_Bold.ttf;
$HarmonyOS_SansCondensedItalic_Light: ../fonts/HarmonyOS_SansCondensedItalic_Light.ttf;
$HarmonyOS_SansCondensedItalic_Medium: ../fonts/HarmonyOS_SansCondensedItalic_Medium.ttf;
$HarmonyOS_SansCondensedItalic_Regular: ../fonts/HarmonyOS_SansCondensedItalic_Regular.ttf;
$HarmonyOS_SansCondensedItalic_Semibold: ../fonts/HarmonyOS_SansCondensedItalic_Semibold.ttf;
$HarmonyOS_SansCondensedItalic_Thin: ../fonts/HarmonyOS_SansCondensedItalic_Thin.ttf;
$HarmonyOS_SansItalic_Black: ../fonts/HarmonyOS_SansItalic_Black.ttf;
$HarmonyOS_SansItalic_Bold: ../fonts/HarmonyOS_SansItalic_Bold.ttf;
$HarmonyOS_SansItalic_Light: ../fonts/HarmonyOS_SansItalic_Light.ttf;
$HarmonyOS_SansItalic_Medium: ../fonts/HarmonyOS_SansItalic_Medium.ttf;
$HarmonyOS_SansItalic_Regular: ../fonts/HarmonyOS_SansItalic_Regular.ttf;
$HarmonyOS_SansItalic_Semibold: ../fonts/HarmonyOS_SansItalic_Semibold.ttf;
$HarmonyOS_SansItalic_Thin: ../fonts/HarmonyOS_SansItalic_Thin.ttf;
$HarmonyOS_SansSC_Black: ../fonts/HarmonyOS_SansSC_Black.ttf;
$HarmonyOS_SansSC_Bold: ../fonts/HarmonyOS_SansSC_Bold.ttf;
$HarmonyOS_SansSC_Light: ../fonts/HarmonyOS_SansSC_Light.ttf;
$HarmonyOS_SansSC_Medium: ../fonts/HarmonyOS_SansSC_Medium.ttf;
$HarmonyOS_SansSC_Regular: ../fonts/HarmonyOS_SansSC_Regular.ttf;
$HarmonyOS_SansSC_Semibold: ../fonts/HarmonyOS_SansSC_Semibold.ttf;
$HarmonyOS_SansSC_Thin: ../fonts/HarmonyOS_SansSC_Thin.ttf;
$HarmonyOS_SansTC_Black: ../fonts/HarmonyOS_SansTC_Black.ttf;
$HarmonyOS_SansTC_Bold: ../fonts/HarmonyOS_SansTC_Bold.ttf;
$HarmonyOS_SansTC_Light: ../fonts/HarmonyOS_SansTC_Light.ttf;
$HarmonyOS_SansTC_Medium: ../fonts/HarmonyOS_SansTC_Medium.ttf;
$HarmonyOS_SansTC_Regular: ../fonts/HarmonyOS_SansTC_Regular.ttf;
$HarmonyOS_SansTC_Semibold: ../fonts/HarmonyOS_SansTC_Semibold.ttf;
$HarmonyOS_SansTC_Thin: ../fonts/HarmonyOS_SansTC_Thin.ttf;
$HarmonyOS_Sans_Black: ../fonts/HarmonyOS_Sans_Black.ttf;
$HarmonyOS_Sans_Bold: ../fonts/HarmonyOS_Sans_Bold.ttf;
$HarmonyOS_Sans_Condensed_Black: ../fonts/HarmonyOS_Sans_Condensed_Black.ttf;
$HarmonyOS_Sans_Condensed_Bold: ../fonts/HarmonyOS_Sans_Condensed_Bold.ttf;
$HarmonyOS_Sans_Condensed_Light: ../fonts/HarmonyOS_Sans_Condensed_Light.ttf;
$HarmonyOS_Sans_Condensed_Medium: ../fonts/HarmonyOS_Sans_Condensed_Medium.ttf;
$HarmonyOS_Sans_Condensed_Regular: ../fonts/HarmonyOS_Sans_Condensed_Regular.ttf;
$HarmonyOS_Sans_Condensed_SemiBold: ../fonts/HarmonyOS_Sans_Condensed_SemiBold.ttf;
$HarmonyOS_Sans_Condensed_Thin: ../fonts/HarmonyOS_Sans_Condensed_Thin.ttf;
$HarmonyOS_Sans_Light: ../fonts/HarmonyOS_Sans_Light.ttf;
$HarmonyOS_Sans_Medium: ../fonts/HarmonyOS_Sans_Medium.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Black: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Black.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Bold: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Bold.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Heavy: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Heavy.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Light: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Light.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Medium: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Medium.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Regular: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Regular.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_SemiBold: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_SemiBold.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_Thin: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_Thin.ttf;
$HarmonyOS_Sans_Naskh_ArabicUI_UltraLight: ../fonts/HarmonyOS_Sans_Naskh_ArabicUI_UltraLight.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Black: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Black.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Bold: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Bold.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Heavy: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Heavy.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Light: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Light.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Medium: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Medium.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Regular: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Regular.ttf;
$HarmonyOS_Sans_Naskh_Arabic_SemiBold: ../fonts/HarmonyOS_Sans_Naskh_Arabic_SemiBold.ttf;
$HarmonyOS_Sans_Naskh_Arabic_Thin: ../fonts/HarmonyOS_Sans_Naskh_Arabic_Thin.ttf;
$HarmonyOS_Sans_Naskh_Arabic_UltraLight: ../fonts/HarmonyOS_Sans_Naskh_Arabic_UltraLight.ttf;
$HarmonyOS_Sans_Regular: ../fonts/HarmonyOS_Sans_Regular.ttf;
$HarmonyOS_Sans_Semibold: ../fonts/HarmonyOS_Sans_Semibold.ttf;
$HarmonyOS_Sans_Thin: ../fonts/HarmonyOS_Sans_Thin.ttf;
$IBM_Plex_Sans_Var_Italic: ../fonts/IBM Plex Sans Var-Italic.ttf;
$IBM_Plex_Sans_Var_Roman: ../fonts/IBM Plex Sans Var-Roman.ttf;
$IBMPlexSansArabic_Bold: ../fonts/IBMPlexSansArabic-Bold.ttf;
$IBMPlexSansArabic_ExtraLight: ../fonts/IBMPlexSansArabic-ExtraLight.ttf;
$IBMPlexSansArabic_Light: ../fonts/IBMPlexSansArabic-Light.ttf;
$IBMPlexSansArabic_Medium: ../fonts/IBMPlexSansArabic-Medium.ttf;
$IBMPlexSansArabic_Regular: ../fonts/IBMPlexSansArabic-Regular.ttf;
$IBMPlexSansArabic_SemiBold: ../fonts/IBMPlexSansArabic-SemiBold.ttf;
$IBMPlexSansArabic_Text: ../fonts/IBMPlexSansArabic-Text.ttf;
$IBMPlexSansArabic_Thin: ../fonts/IBMPlexSansArabic-Thin.ttf;
$IBMPlexSansCondensed_Bold: ../fonts/IBMPlexSansCondensed-Bold.ttf;
$IBMPlexSansCondensed_BoldItalic: ../fonts/IBMPlexSansCondensed-BoldItalic.ttf;
$IBMPlexSansCondensed_ExtraLight: ../fonts/IBMPlexSansCondensed-ExtraLight.ttf;
$IBMPlexSansCondensed_ExtraLightItalic: ../fonts/IBMPlexSansCondensed-ExtraLightItalic.ttf;
$IBMPlexSansCondensed_Italic: ../fonts/IBMPlexSansCondensed-Italic.ttf;
$IBMPlexSansCondensed_Light: ../fonts/IBMPlexSansCondensed-Light.ttf;
$IBMPlexSansCondensed_LightItalic: ../fonts/IBMPlexSansCondensed-LightItalic.ttf;
$IBMPlexSansCondensed_Medium: ../fonts/IBMPlexSansCondensed-Medium.ttf;
$IBMPlexSansCondensed_MediumItalic: ../fonts/IBMPlexSansCondensed-MediumItalic.ttf;
$IBMPlexSansCondensed_Regular: ../fonts/IBMPlexSansCondensed-Regular.ttf;
$IBMPlexSansCondensed_SemiBold: ../fonts/IBMPlexSansCondensed-SemiBold.ttf;
$IBMPlexSansCondensed_SemiBoldItalic: ../fonts/IBMPlexSansCondensed-SemiBoldItalic.ttf;
$IBMPlexSansCondensed_Text: ../fonts/IBMPlexSansCondensed-Text.ttf;
$IBMPlexSansCondensed_TextItalic: ../fonts/IBMPlexSansCondensed-TextItalic.ttf;
$IBMPlexSansCondensed_Thin: ../fonts/IBMPlexSansCondensed-Thin.ttf;
$IBMPlexSansCondensed_ThinItalic: ../fonts/IBMPlexSansCondensed-ThinItalic.ttf;
$IBMPlexSansDevanagari_Bold: ../fonts/IBMPlexSansDevanagari-Bold.ttf;
$IBMPlexSansDevanagari_ExtraLight: ../fonts/IBMPlexSansDevanagari-ExtraLight.ttf;
$IBMPlexSansDevanagari_Light: ../fonts/IBMPlexSansDevanagari-Light.ttf;
$IBMPlexSansDevanagari_Medium: ../fonts/IBMPlexSansDevanagari-Medium.ttf;
$IBMPlexSansDevanagari_Regular: ../fonts/IBMPlexSansDevanagari-Regular.ttf;
$IBMPlexSansDevanagari_SemiBold: ../fonts/IBMPlexSansDevanagari-SemiBold.ttf;
$IBMPlexSansDevanagari_Text: ../fonts/IBMPlexSansDevanagari-Text.ttf;
$IBMPlexSansDevanagari_Thin: ../fonts/IBMPlexSansDevanagari-Thin.ttf;
$IBMPlexSansHebrew_Bold: ../fonts/IBMPlexSansHebrew-Bold.ttf;
$IBMPlexSansHebrew_ExtraLight: ../fonts/IBMPlexSansHebrew-ExtraLight.ttf;
$IBMPlexSansHebrew_Light: ../fonts/IBMPlexSansHebrew-Light.ttf;
$IBMPlexSansHebrew_Medium: ../fonts/IBMPlexSansHebrew-Medium.ttf;
$IBMPlexSansHebrew_Regular: ../fonts/IBMPlexSansHebrew-Regular.ttf;
$IBMPlexSansHebrew_SemiBold: ../fonts/IBMPlexSansHebrew-SemiBold.ttf;
$IBMPlexSansHebrew_Text: ../fonts/IBMPlexSansHebrew-Text.ttf;
$IBMPlexSansHebrew_Thin: ../fonts/IBMPlexSansHebrew-Thin.ttf;
$IBMPlexSansJP_Bold: ../fonts/IBMPlexSansJP-Bold.ttf;
$IBMPlexSansJP_ExtraLight: ../fonts/IBMPlexSansJP-ExtraLight.ttf;
$IBMPlexSansJP_Light: ../fonts/IBMPlexSansJP-Light.ttf;
$IBMPlexSansJP_Medium: ../fonts/IBMPlexSansJP-Medium.ttf;
$IBMPlexSansJP_Regular: ../fonts/IBMPlexSansJP-Regular.ttf;
$IBMPlexSansJP_SemiBold: ../fonts/IBMPlexSansJP-SemiBold.ttf;
$IBMPlexSansJP_Text: ../fonts/IBMPlexSansJP-Text.ttf;
$IBMPlexSansJP_Thin: ../fonts/IBMPlexSansJP-Thin.ttf;
$IBMPlexSansKR_Bold: ../fonts/IBMPlexSansKR-Bold.ttf;
$IBMPlexSansKR_ExtraLight: ../fonts/IBMPlexSansKR-ExtraLight.ttf;
$IBMPlexSansKR_Light: ../fonts/IBMPlexSansKR-Light.ttf;
$IBMPlexSansKR_Medium: ../fonts/IBMPlexSansKR-Medium.ttf;
$IBMPlexSansKR_Regular: ../fonts/IBMPlexSansKR-Regular.ttf;
$IBMPlexSansKR_SemiBold: ../fonts/IBMPlexSansKR-SemiBold.ttf;
$IBMPlexSansKR_Text: ../fonts/IBMPlexSansKR-Text.ttf;
$IBMPlexSansKR_Thin: ../fonts/IBMPlexSansKR-Thin.ttf;
$IBMPlexSansSC_Bold: ../fonts/IBMPlexSansSC-Bold.ttf;
$IBMPlexSansSC_ExtraLight: ../fonts/IBMPlexSansSC-ExtraLight.ttf;
$IBMPlexSansSC_Light: ../fonts/IBMPlexSansSC-Light.ttf;
$IBMPlexSansSC_Medium: ../fonts/IBMPlexSansSC-Medium.ttf;
$IBMPlexSansSC_Regular: ../fonts/IBMPlexSansSC-Regular.ttf;
$IBMPlexSansSC_SemiBold: ../fonts/IBMPlexSansSC-SemiBold.ttf;
$IBMPlexSansSC_Text: ../fonts/IBMPlexSansSC-Text.ttf;
$IBMPlexSansSC_Thin: ../fonts/IBMPlexSansSC-Thin.ttf;
$IBMPlexSansTC_Bold: ../fonts/IBMPlexSansTC-Bold.ttf;
$IBMPlexSansTC_ExtraLight: ../fonts/IBMPlexSansTC-ExtraLight.ttf;
$IBMPlexSansTC_Light: ../fonts/IBMPlexSansTC-Light.ttf;
$IBMPlexSansTC_Medium: ../fonts/IBMPlexSansTC-Medium.ttf;
$IBMPlexSansTC_Regular: ../fonts/IBMPlexSansTC-Regular.ttf;
$IBMPlexSansTC_SemiBold: ../fonts/IBMPlexSansTC-SemiBold.ttf;
$IBMPlexSansTC_Text: ../fonts/IBMPlexSansTC-Text.ttf;
$IBMPlexSansTC_Thin: ../fonts/IBMPlexSansTC-Thin.ttf;
$IBMPlexSansThai_Bold: ../fonts/IBMPlexSansThai-Bold.ttf;
$IBMPlexSansThai_ExtraLight: ../fonts/IBMPlexSansThai-ExtraLight.ttf;
$IBMPlexSansThai_Light: ../fonts/IBMPlexSansThai-Light.ttf;
$IBMPlexSansThai_Medium: ../fonts/IBMPlexSansThai-Medium.ttf;
$IBMPlexSansThai_Regular: ../fonts/IBMPlexSansThai-Regular.ttf;
$IBMPlexSansThai_SemiBold: ../fonts/IBMPlexSansThai-SemiBold.ttf;
$IBMPlexSansThai_Text: ../fonts/IBMPlexSansThai-Text.ttf;
$IBMPlexSansThai_Thin: ../fonts/IBMPlexSansThai-Thin.ttf;
$IBMPlexSansThaiLooped_Bold: ../fonts/IBMPlexSansThaiLooped-Bold.ttf;
$IBMPlexSansThaiLooped_ExtraLight: ../fonts/IBMPlexSansThaiLooped-ExtraLight.ttf;
$IBMPlexSansThaiLooped_Light: ../fonts/IBMPlexSansThaiLooped-Light.ttf;
$IBMPlexSansThaiLooped_Medium: ../fonts/IBMPlexSansThaiLooped-Medium.ttf;
$IBMPlexSansThaiLooped_Regular: ../fonts/IBMPlexSansThaiLooped-Regular.ttf;
$IBMPlexSansThaiLooped_SemiBold: ../fonts/IBMPlexSansThaiLooped-SemiBold.ttf;
$IBMPlexSansThaiLooped_Text: ../fonts/IBMPlexSansThaiLooped-Text.ttf;
$IBMPlexSansThaiLooped_Thin: ../fonts/IBMPlexSansThaiLooped-Thin.ttf;
$JetBrainsMono_Bold: ../fonts/JetBrainsMono-Bold.woff2;
$JetBrainsMono_BoldItalic: ../fonts/JetBrainsMono-BoldItalic.woff2;
$JetBrainsMono_ExtraBold: ../fonts/JetBrainsMono-ExtraBold.woff2;
$JetBrainsMono_ExtraBoldItalic: ../fonts/JetBrainsMono-ExtraBoldItalic.woff2;
$JetBrainsMono_ExtraLight: ../fonts/JetBrainsMono-ExtraLight.woff2;
$JetBrainsMono_ExtraLightItalic: ../fonts/JetBrainsMono-ExtraLightItalic.woff2;
$JetBrainsMono_Italic: ../fonts/JetBrainsMono-Italic.woff2;
$JetBrainsMono_Light: ../fonts/JetBrainsMono-Light.woff2;
$JetBrainsMono_LightItalic: ../fonts/JetBrainsMono-LightItalic.woff2;
$JetBrainsMono_Medium: ../fonts/JetBrainsMono-Medium.woff2;
$JetBrainsMono_MediumItalic: ../fonts/JetBrainsMono-MediumItalic.woff2;
$JetBrainsMono_Regular: ../fonts/JetBrainsMono-Regular.woff2;
$JetBrainsMono_SemiBold: ../fonts/JetBrainsMono-SemiBold.woff2;
$JetBrainsMono_SemiBoldItalic: ../fonts/JetBrainsMono-SemiBoldItalic.woff2;
$JetBrainsMono_Thin: ../fonts/JetBrainsMono-Thin.woff2;
$JetBrainsMono_ThinItalic: ../fonts/JetBrainsMono-ThinItalic.woff2;
$Montserrat_Black: ../fonts/Montserrat-Black.woff;
$Montserrat_BlackItalic: ../fonts/Montserrat-BlackItalic.woff;
$Montserrat_Bold: ../fonts/Montserrat-Bold.woff;
$Montserrat_BoldItalic: ../fonts/Montserrat-BoldItalic.woff;
$Montserrat_ExtraBold: ../fonts/Montserrat-ExtraBold.woff;
$Montserrat_ExtraBoldItalic: ../fonts/Montserrat-ExtraBoldItalic.woff;
$Montserrat_ExtraLight: ../fonts/Montserrat-ExtraLight.woff;
$Montserrat_ExtraLightItalic: ../fonts/Montserrat-ExtraLightItalic.woff;
$Montserrat_Italic: ../fonts/Montserrat-Italic.woff;
$Montserrat_Light: ../fonts/Montserrat-Light.woff;
$Montserrat_LightItalic: ../fonts/Montserrat-LightItalic.woff;
$Montserrat_Medium: ../fonts/Montserrat-Medium.woff;
$Montserrat_MediumItalic: ../fonts/Montserrat-MediumItalic.woff;
$Montserrat_Regular: ../fonts/Montserrat-Regular.woff;
$Montserrat_SemiBold: ../fonts/Montserrat-SemiBold.woff;
$Montserrat_SemiBoldItalic: ../fonts/Montserrat-SemiBoldItalic.woff;
$Montserrat_Thin: ../fonts/Montserrat-Thin.woff;
$Montserrat_ThinItalic: ../fonts/Montserrat-ThinItalic.woff;
$MontserratAlternates_Black: ../fonts/MontserratAlternates-Black.woff;
$MontserratAlternates_BlackItalic: ../fonts/MontserratAlternates-BlackItalic.woff;
$MontserratAlternates_Bold: ../fonts/MontserratAlternates-Bold.woff;
$MontserratAlternates_BoldItalic: ../fonts/MontserratAlternates-BoldItalic.woff;
$MontserratAlternates_ExtraBold: ../fonts/MontserratAlternates-ExtraBold.woff;
$MontserratAlternates_ExtraBoldItalic: ../fonts/MontserratAlternates-ExtraBoldItalic.woff;
$MontserratAlternates_ExtraLight: ../fonts/MontserratAlternates-ExtraLight.woff;
$MontserratAlternates_ExtraLightItalic: ../fonts/MontserratAlternates-ExtraLightItalic.woff;
$MontserratAlternates_Italic: ../fonts/MontserratAlternates-Italic.woff;
$MontserratAlternates_Light: ../fonts/MontserratAlternates-Light.woff;
$MontserratAlternates_LightItalic: ../fonts/MontserratAlternates-LightItalic.woff;
$MontserratAlternates_Medium: ../fonts/MontserratAlternates-Medium.woff;
$MontserratAlternates_MediumItalic: ../fonts/MontserratAlternates-MediumItalic.woff;
$MontserratAlternates_Regular: ../fonts/MontserratAlternates-Regular.woff;
$MontserratAlternates_SemiBold: ../fonts/MontserratAlternates-SemiBold.woff;
$MontserratAlternates_SemiBoldItalic: ../fonts/MontserratAlternates-SemiBoldItalic.woff;
$MontserratAlternates_Thin: ../fonts/MontserratAlternates-Thin.woff;
$MontserratAlternates_ThinItalic: ../fonts/MontserratAlternates-ThinItalic.woff;
$NotoSans_Black: ../fonts/NotoSans-Black.ttf;
$NotoSans_BlackItalic: ../fonts/NotoSans-BlackItalic.ttf;
$NotoSans_Bold: ../fonts/NotoSans-Bold.ttf;
$NotoSans_BoldItalic: ../fonts/NotoSans-BoldItalic.ttf;
$NotoSans_Condensed: ../fonts/NotoSans-Condensed.ttf;
$NotoSans_CondensedBlack: ../fonts/NotoSans-CondensedBlack.ttf;
$NotoSans_CondensedBlackItalic: ../fonts/NotoSans-CondensedBlackItalic.ttf;
$NotoSans_CondensedBold: ../fonts/NotoSans-CondensedBold.ttf;
$NotoSans_CondensedBoldItalic: ../fonts/NotoSans-CondensedBoldItalic.ttf;
$NotoSans_CondensedExtraBold: ../fonts/NotoSans-CondensedExtraBold.ttf;
$NotoSans_CondensedExtraBoldItalic: ../fonts/NotoSans-CondensedExtraBoldItalic.ttf;
$NotoSans_CondensedExtraLight: ../fonts/NotoSans-CondensedExtraLight.ttf;
$NotoSans_CondensedExtraLightItalic: ../fonts/NotoSans-CondensedExtraLightItalic.ttf;
$NotoSans_CondensedItalic: ../fonts/NotoSans-CondensedItalic.ttf;
$NotoSans_CondensedLight: ../fonts/NotoSans-CondensedLight.ttf;
$NotoSans_CondensedLightItalic: ../fonts/NotoSans-CondensedLightItalic.ttf;
$NotoSans_CondensedMedium: ../fonts/NotoSans-CondensedMedium.ttf;
$NotoSans_CondensedMediumItalic: ../fonts/NotoSans-CondensedMediumItalic.ttf;
$NotoSans_CondensedSemiBold: ../fonts/NotoSans-CondensedSemiBold.ttf;
$NotoSans_CondensedSemiBoldItalic: ../fonts/NotoSans-CondensedSemiBoldItalic.ttf;
$NotoSans_CondensedThin: ../fonts/NotoSans-CondensedThin.ttf;
$NotoSans_CondensedThinItalic: ../fonts/NotoSans-CondensedThinItalic.ttf;
$NotoSans_ExtraBold: ../fonts/NotoSans-ExtraBold.ttf;
$NotoSans_ExtraBoldItalic: ../fonts/NotoSans-ExtraBoldItalic.ttf;
$NotoSans_ExtraCondensed: ../fonts/NotoSans-ExtraCondensed.ttf;
$NotoSans_ExtraCondensedBlack: ../fonts/NotoSans-ExtraCondensedBlack.ttf;
$NotoSans_ExtraCondensedBlackItalic: ../fonts/NotoSans-ExtraCondensedBlackItalic.ttf;
$NotoSans_ExtraCondensedBold: ../fonts/NotoSans-ExtraCondensedBold.ttf;
$NotoSans_ExtraCondensedBoldItalic: ../fonts/NotoSans-ExtraCondensedBoldItalic.ttf;
$NotoSans_ExtraCondensedExtraBold: ../fonts/NotoSans-ExtraCondensedExtraBold.ttf;
$NotoSans_ExtraCondensedExtraBoldItalic: ../fonts/NotoSans-ExtraCondensedExtraBoldItalic.ttf;
$NotoSans_ExtraCondensedExtraLight: ../fonts/NotoSans-ExtraCondensedExtraLight.ttf;
$NotoSans_ExtraCondensedExtraLightItalic: ../fonts/NotoSans-ExtraCondensedExtraLightItalic.ttf;
$NotoSans_ExtraCondensedItalic: ../fonts/NotoSans-ExtraCondensedItalic.ttf;
$NotoSans_ExtraCondensedLight: ../fonts/NotoSans-ExtraCondensedLight.ttf;
$NotoSans_ExtraCondensedLightItalic: ../fonts/NotoSans-ExtraCondensedLightItalic.ttf;
$NotoSans_ExtraCondensedMedium: ../fonts/NotoSans-ExtraCondensedMedium.ttf;
$NotoSans_ExtraCondensedMediumItalic: ../fonts/NotoSans-ExtraCondensedMediumItalic.ttf;
$NotoSans_ExtraCondensedSemiBold: ../fonts/NotoSans-ExtraCondensedSemiBold.ttf;
$NotoSans_ExtraCondensedSemiBoldItalic: ../fonts/NotoSans-ExtraCondensedSemiBoldItalic.ttf;
$NotoSans_ExtraCondensedThin: ../fonts/NotoSans-ExtraCondensedThin.ttf;
$NotoSans_ExtraCondensedThinItalic: ../fonts/NotoSans-ExtraCondensedThinItalic.ttf;
$NotoSans_ExtraLight: ../fonts/NotoSans-ExtraLight.ttf;
$NotoSans_ExtraLightItalic: ../fonts/NotoSans-ExtraLightItalic.ttf;
$NotoSans_Italic: ../fonts/NotoSans-Italic.ttf;
$NotoSans_Light: ../fonts/NotoSans-Light.ttf;
$NotoSans_LightItalic: ../fonts/NotoSans-LightItalic.ttf;
$NotoSans_Medium: ../fonts/NotoSans-Medium.ttf;
$NotoSans_MediumItalic: ../fonts/NotoSans-MediumItalic.ttf;
$NotoSans_Regular: ../fonts/NotoSans-Regular.ttf;
$NotoSans_SemiBold: ../fonts/NotoSans-SemiBold.ttf;
$NotoSans_SemiBoldItalic: ../fonts/NotoSans-SemiBoldItalic.ttf;
$NotoSans_SemiCondensed: ../fonts/NotoSans-SemiCondensed.ttf;
$NotoSans_SemiCondensedBlack: ../fonts/NotoSans-SemiCondensedBlack.ttf;
$NotoSans_SemiCondensedBlackItalic: ../fonts/NotoSans-SemiCondensedBlackItalic.ttf;
$NotoSans_SemiCondensedBold: ../fonts/NotoSans-SemiCondensedBold.ttf;
$NotoSans_SemiCondensedBoldItalic: ../fonts/NotoSans-SemiCondensedBoldItalic.ttf;
$NotoSans_SemiCondensedExtraBold: ../fonts/NotoSans-SemiCondensedExtraBold.ttf;
$NotoSans_SemiCondensedExtraBoldItalic: ../fonts/NotoSans-SemiCondensedExtraBoldItalic.ttf;
$NotoSans_SemiCondensedExtraLight: ../fonts/NotoSans-SemiCondensedExtraLight.ttf;
$NotoSans_SemiCondensedExtraLightItalic: ../fonts/NotoSans-SemiCondensedExtraLightItalic.ttf;
$NotoSans_SemiCondensedItalic: ../fonts/NotoSans-SemiCondensedItalic.ttf;
$NotoSans_SemiCondensedLight: ../fonts/NotoSans-SemiCondensedLight.ttf;
$NotoSans_SemiCondensedLightItalic: ../fonts/NotoSans-SemiCondensedLightItalic.ttf;
$NotoSans_SemiCondensedMedium: ../fonts/NotoSans-SemiCondensedMedium.ttf;
$NotoSans_SemiCondensedMediumItalic: ../fonts/NotoSans-SemiCondensedMediumItalic.ttf;
$NotoSans_SemiCondensedSemiBold: ../fonts/NotoSans-SemiCondensedSemiBold.ttf;
$NotoSans_SemiCondensedSemiBoldItalic: ../fonts/NotoSans-SemiCondensedSemiBoldItalic.ttf;
$NotoSans_SemiCondensedThin: ../fonts/NotoSans-SemiCondensedThin.ttf;
$NotoSans_SemiCondensedThinItalic: ../fonts/NotoSans-SemiCondensedThinItalic.ttf;
$NotoSans_Thin: ../fonts/NotoSans-Thin.ttf;
$NotoSans_ThinItalic: ../fonts/NotoSans-ThinItalic.ttf;
$NotoSansAdlam_Bold: ../fonts/NotoSansAdlam-Bold.ttf;
$NotoSansAdlam_Regular: ../fonts/NotoSansAdlam-Regular.ttf;
$NotoSansAdlamUnjoined_Bold: ../fonts/NotoSansAdlamUnjoined-Bold.ttf;
$NotoSansAdlamUnjoined_Regular: ../fonts/NotoSansAdlamUnjoined-Regular.ttf;
$NotoSansAnatolianHieroglyphs_Regular: ../fonts/NotoSansAnatolianHieroglyphs-Regular.ttf;
$NotoSansArabic_Black: ../fonts/NotoSansArabic-Black.ttf;
$NotoSansArabic_Bold: ../fonts/NotoSansArabic-Bold.ttf;
$NotoSansArabic_Condensed: ../fonts/NotoSansArabic-Condensed.ttf;
$NotoSansArabic_CondensedBlack: ../fonts/NotoSansArabic-CondensedBlack.ttf;
$NotoSansArabic_CondensedBold: ../fonts/NotoSansArabic-CondensedBold.ttf;
