@charset 'utf-8';

@use 'sass:string';
@use 'sass:map';

$base-widths: (
  // '0': 0,
  // '1': 2px,
  // '2': 4px,
  // '3': 6px,
  // '4': 8px,
  // '5': 10px,
  // '6': 12px,
  // '7': 14px,
  // '8': 16px,
  // '9': 18px,
  // '10': 20px,
  // '11': 22px,
  // '12': 24px,
  // '14': 28px,
  // '16': 32px,
  // '20': 40px,
  // '30': 60px,
  // '40': 80px,
  // '50': 100px,
  // '60': 120px,
  // '70': 140px,
  // '80': 160px,
  // '90': 180px,
  // '100': 200px,
  'screen': string.unquote(100+'vw'),
  'min': min-content,
  'max': max-content,
  'fit': fit-content,
  '0': 0,
  '1': string.unquote(1+'px'),
  '2': string.unquote(2+'px'),
  '3': string.unquote(3+'px'),
  '4': string.unquote(4+'px'),
  '5': string.unquote(5+'px'),
  '6': string.unquote(6+'px'),
  '7': string.unquote(7+'px'),
  '8': string.unquote(8+'px'),
  '9': string.unquote(9+'px'),
  '10': string.unquote(10+'px'),
  '11': string.unquote(11+'px'),
  '12': string.unquote(12+'px'),
  '14': string.unquote(14+'px'),
  '16': string.unquote(16+'px'),
  '20': string.unquote(20+'px'),
  '24': string.unquote(24+'px'),
  '28': string.unquote(28+'px'),
  '32': string.unquote(32+'px'),
  '36': string.unquote(36+'px'),
  '40': string.unquote(40+'px'),
  '44': string.unquote(44+'px'),
  '48': string.unquote(48+'px'),
  '52': string.unquote(52+'px'),
  '56': string.unquote(56+'px'),
  '60': string.unquote(60+'px'),
  '64': string.unquote(64+'px'),
  '80': string.unquote(80+'px'),
  '96': string.unquote(96+'px'),
  '112': string.unquote(112+'px'),
  '128': string.unquote(128+'px'),
  '144': string.unquote(144+'px'),
  '160': string.unquote(160+'px'),
  '192': string.unquote(192+'px'),
  '224': string.unquote(224+'px'),
  '288': string.unquote(288+'px'),
  '352': string.unquote(352+'px'),
  '3xs': 10%,
  '2xs': 20%,
  'xs': 30%,
  's': 40%,
  'm': 50%,
  'l': 60%,
  'xl': 70%,
  '2xl': 80%,
  '3xl': 90%,
  'full': 100%,
  'auto': auto,
);

$base-heights: $base-widths;

$breakpoints:(
  'sm': '(max-width: 375px)',
  'xm': '(min-width: 768px)',
  'md': '(min-width: 1024px)',
  'lg': '(min-width: 1440px)',
  'xl': '(min-width: 1624px)',
  'xxl': '(min-width: 1920px)',
  'xxxl': '(min-width: 2560px)',
);


// 创建媒体查询 mixin
@mixin media-query($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and #{map.get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` does not exist.";
  }
}


// 循环遍历宽度尺寸并生成带有媒体查询前缀的类
@each $breakpoint, $_ in $breakpoints{
  @each $size, $value in $base-widths {
    .#{string.slice($breakpoint, 1)}:w-#{$size} {
      width: $value;
      @include media-query($breakpoint){
        width: $value;
      }
    }
  }
}



// 循环遍历高度尺寸并生成带有媒体查询前缀的类
@each $breakpoint, $_ in $breakpoints{
  @each $size, $value in $base-heights {
    .#{string.slice($breakpoint, 1)}:h-#{$size} {
      height: $value;
      @include media-query($breakpoint){
        height: $value;
      }
    }
  }
}