@charset "utf-8";

@use 'sass:string';
@use 'sass:map';
@use 'sass:list';
/*!
  Name: layout-flex-and-grid
  Author: william
  Author URI:
  Description: layout would contain the main layout.
  Version: 1.0.1
	Tags: layout,flex basis,flex direction,flex wrap, flex,flex grow,flex shrink,order,grid template column,grid column start,grid column end,grid template rows,grid row start,grid row end,grid auto flow,grid auto columns,grid auto rows,gap,justify content,justify items,justify self,align content,align items,align self,place content,place items,place self
  Update: December 13th,2022
*/

/*
* 1. flex basis
*/
$flexBasis:( 0: 0, 1: string.unquote(4+'px'),2: string.unquote(8+'px'),3: string.unquote(12+'px'),4: string.unquote(16+'px'),5: string.unquote(20+'px'),6: string.unquote(24+'px'),7: string.unquote(28+'px'),8: string.unquote(32+'px'),9: string.unquote(36+'px'),10: string.unquote(40+'px'),11: string.unquote(44+'px'),12: string.unquote(48+'px'),14: string.unquote(56+'px'),16: string.unquote(64+'px'),20: string.unquote(80+'px'),24: string.unquote(96+'px'),28: string.unquote(112+'px'),32: string.unquote(128+'px'),36: string.unquote(144+'px'),40: string.unquote(160+'px'),44: string.unquote(176+'px'),48: string.unquote(192+'px'),52: string.unquote(208+'px'),56: string.unquote(224+'px'),60: string.unquote(240+'px'),64: string.unquote(256+'px'),72: string.unquote(288+'px'),80: string.unquote(320+'px'),96: string.unquote(384+'px'),auto: auto,3xs: string.unquote(1+'px'),2xs: string.unquote(2+'px'),xs: string.unquote(6+'px'),sm: string.unquote(10+'px'),md: string.unquote(14+'px'),lg: string.unquote(18+'px'),xl: 10%,2xl: 20%,3xl: 30%,4xl: 40%,5xl: 50%,6xl: 60%,7xl: 70%,8xl: 80%,9xl: 90%,full: 100%);
@for $i from 1 through list.length(map.keys($flexBasis)) {
  $name: list.nth(map.keys($flexBasis), $i);
  $values: list.nth(map.values($flexBasis), $i);
  .basis-#{$name}{
    flex-basis: $values;
  }
}


/*
* 2. flex direction
*/
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}


/*
* 3. flex wrap
*/
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}


/*
* 4. flex
*/
.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}


/*
* 5. flex grow
*/
.grow-0 {
  flex-grow: 0;
}

.grow {
  flex-grow: 1;
}


/*
* 6. flex shrink
*/
.shrink-0 {
  flex-shrink: 0;
}

.shrink {
  flex-shrink: 1;
}


/*
* 7. order
*/
.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-none {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}


/*
* 8. grid template columns
*/
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-none {
  grid-template-columns: none;
}


/*
* 9. grid column start / end
*/
.col-auto {
  grid-column: auto;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-full {
  grid-column: 1 / -1;
}


/*
* 10. grid template rows
*/
.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
  grid-template-rows: none;
}


/*
* 11. grid row start / end
*/
.row-auto {
  grid-row: auto;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}

.row-span-5 {
  grid-row: span 5 / span 5;
}

.row-span-6 {
  grid-row: span 6 / span 6;
}

.row-span-full {
  grid-row: 1 / -1;
}


/*
* 12. grid auto flow
*/
.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-dense {
  grid-auto-flow: dense;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}


/*
* 13. grid auto columns
*/
.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-min {
  grid-auto-columns: min-content;
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}


/*
* 14. grid auto rows
*/
.auto-rows-auto {
  grid-auto-rows: auto;
}

.auto-rows-min {
  grid-auto-rows: min-content;
}

.auto-rows-max {
  grid-auto-rows: max-content;
}

.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}


/*
* 15. gap
*/
.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-28 {
  gap: 7rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-36 {
  gap: 9rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-44 {
  gap: 11rem;
}

.gap-48 {
  gap: 12rem;
}

.gap-52 {
  gap: 13rem;
}

.gap-56 {
  gap: 14rem;
}

.gap-60 {
  gap: 15rem;
}

.gap-64 {
  gap: 16rem;
}

.gap-72 {
  gap: 18rem;
}

.gap-80 {
  gap: 20rem;
}

.gap-96 {
  gap: 24rem;
}


/*
* 16. row gap
*/
.row-gap-0 {
  row-gap: 0px;
}

.row-gap-1 {
  row-gap: 0.25rem;
}

.row-gap-2 {
  row-gap: 0.5rem;
}

.row-gap-3 {
  row-gap: 0.75rem;
}

.row-gap-4 {
  row-gap: 1rem;
}

.row-gap-5 {
  row-gap: 1.25rem;
}

.row-gap-6 {
  row-gap: 1.5rem;
}

.row-gap-7 {
  row-gap: 1.75rem;
}

.row-gap-8 {
  row-gap: 2rem;
}

.row-gap-9 {
  row-gap: 2.25rem;
}

.row-gap-10 {
  row-gap: 2.5rem;
}

.row-gap-11 {
  row-gap: 2.75rem;
}

.row-gap-12 {
  row-gap: 3rem;
}

.row-gap-14 {
  row-gap: 3.5rem;
}

.row-gap-16 {
  row-gap: 4rem;
}

.row-gap-20 {
  row-gap: 5rem;
}

.row-gap-24 {
  row-gap: 6rem;
}

.row-gap-28 {
  row-gap: 7rem;
}

.row-gap-32 {
  row-gap: 8rem;
}

.row-gap-36 {
  row-gap: 9rem;
}

.row-gap-40 {
  row-gap: 10rem;
}

.row-gap-44 {
  row-gap: 11rem;
}

.row-gap-48 {
  row-gap: 12rem;
}

.row-gap-52 {
  row-gap: 13rem;
}

.row-gap-56 {
  row-gap: 14rem;
}

.row-gap-60 {
  row-gap: 15rem;
}

.row-gap-64 {
  row-gap: 16rem;
}

.row-gap-72 {
  row-gap: 18rem;
}

.row-gap-80 {
  row-gap: 20rem;
}

.row-gap-96 {
  row-gap: 24rem;
}


/*
* 17. column gap
*/
.col-gap-0 {
  column-gap: 0px;
}

.col-gap-1 {
  column-gap: 0.25rem;
}

.col-gap-2 {
  column-gap: 0.5rem;
}

.col-gap-3 {
  column-gap: 0.75rem;
}

.col-gap-4 {
  column-gap: 1rem;
}

.col-gap-5 {
  column-gap: 1.25rem;
}

.col-gap-6 {
  column-gap: 1.5rem;
}

.col-gap-7 {
  column-gap: 1.75rem;
}

.col-gap-8 {
  column-gap: 2rem;
}

.col-gap-9 {
  column-gap: 2.25rem;
}

.col-gap-10 {
  column-gap: 2.5rem;
}

.col-gap-11 {
  column-gap: 2.75rem;
}

.col-gap-12 {
  column-gap: 3rem;
}

.col-gap-14 {
  column-gap: 3.5rem;
}

.col-gap-16 {
  column-gap: 4rem;
}

.col-gap-20 {
  column-gap: 5rem;
}

.col-gap-24 {
  column-gap: 6rem;
}

.col-gap-28 {
  column-gap: 7rem;
}

.col-gap-32 {
  column-gap: 8rem;
}

.col-gap-36 {
  column-gap: 9rem;
}

.col-gap-40 {
  column-gap: 10rem;
}

.col-gap-44 {
  column-gap: 11rem;
}

.col-gap-48 {
  column-gap: 12rem;
}

.col-gap-52 {
  column-gap: 13rem;
}

.col-gap-56 {
  column-gap: 14rem;
}

.col-gap-60 {
  column-gap: 15rem;
}

.col-gap-64 {
  column-gap: 16rem;
}

.col-gap-72 {
  column-gap: 18rem;
}

.col-gap-80 {
  column-gap: 20rem;
}

.col-gap-96 {
  column-gap: 24rem;
}


/*
* 18. justify content
*/
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}


/*
* 19. justify items
*/
.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}


/*
* 20. justify self
*/
.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}


/*
* 21. align content
*/
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}


/*
* 22. align items
*/
.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}


/*
* 23. align self
*/
.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}


/*
* 24. place content
*/
.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}


/*
* 25. place items
*/
.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}


/*
* 26. place self
*/
.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}