@charset "utf-8";

@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
/*!
  Name: interactivity
  Author: william
  Author URI:
  Description: elements interactivity.
  Version: 1.0.1
	Tags: interactivity, accent color, appearance, cursor, caret-color, pointer-events, resize, scroll-behavior, scroll-margin, scroll-padding, scroll-snap-align, scroll-snap-stop, scroll-snap-type, touch-action, user-select, will-change
  Update: December 26th,2022
*/

/*
* 1. appearance
*/
.appearance-none {
  appearance: none;
}


/*
* 2. cursor
*/
$arrCursor:auto,
default,
crosshair,
help,
move,
pointer,
progress,
text,
wait,
e-resize,
ne-resize,
nw-resize,
n-resize,
se-resize,
s-resize,
sw-resize,
w-resize,
context-menu,
none,
cell,
vertical-text,
alias,
copy,
no-drop,
not-allowed,
ew-resize,
ns-resize,
nesw-resize,
nwse-resize,
col-resize,
row-resize,
all-scroll,
zoom-in,
zoom-out,
grab,
grabbing;

@each $values in $arrCursor {
  .cursor-#{$values} {
    cursor: $values;
  }
}

// color for website
$arrColor:((name: 'Yellow', value: #f0ad4e),
  (name: 'Red', value: #dd524d),
  (name: 'Green', value: #1aad19),
  (name: 'Blue', value: #4e9ef0),
  (name: 'Black', value: #333),
  (name: 'White', value: #fff),
  (name: 'Grey', value: #adadad),
);

@for $i from 1 through list.length($arrColor) {
  $item: list.nth($arrColor, $i);

  .col-#{map.get($item, name)} {
    color: map.get($item, value);
  }

  .bg-#{map.get($item, name)} {
    background-color: map.get($item, value);
    border-color: map.get($item, value);
  }
}


/*
* 3. pointer-events
*/
$pointerEvents: none,
auto;

@each $values in $pointerEvents {
  .pointer-events-#{$values} {
    pointer-events: $values;
  }
}


/*
* 4. resize
*/
$resize: none,
vertical,
horizontal,
both;

@each $values in $resize {
  .resize-#{$values} {
    resize: $values;
  }
}


/*
* 5. scroll-behavior
*/
$scroll-behavior: smooth,
auto;

@each $values in $pointerEvents {
  .scroll-#{$values} {
    scroll-behavior: $values;
  }
}


/*
* 6. scroll-margin and scroll-padding
*/
$scrollMargin: (0: 0, 1: string.unquote(1+"px"), 2: string.unquote(2+"px"), 4: string.unquote(4+"px"), 6: string.unquote(6+"px"), 8: string.unquote(8+"px"),
  10: string.unquote(10+"px"), 12: string.unquote(12+"px"), 14: string.unquote(14+"px"), 16: string.unquote(16+"px"), 18: string.unquote(18+"px"),
  20: string.unquote(20+"px"), 22: string.unquote(22+"px"), 24: string.unquote(24+"px"), 26: string.unquote(26+"px"), 28: string.unquote(28+"px"),
  30: string.unquote(30+"px"), 32: string.unquote(32+"px"), 34: string.unquote(34+"px"), 36: string.unquote(36+"px"), 38: string.unquote(38+"px"),
  40: string.unquote(40+"px"), 42: string.unquote(42+"px"), 44: string.unquote(44+"px"), 46: string.unquote(46+"px"), 48: string.unquote(48+"px"),
  50: string.unquote(50+"px"), 52: string.unquote(52+"px"), 54: string.unquote(54+"px"), 56: string.unquote(56+"px"), 58: string.unquote(58+"px"),
  60: string.unquote(60+"px"), 62: string.unquote(62+"px"), 64: string.unquote(64+"px"), 66: string.unquote(66+"px"), 68: string.unquote(68+"px"),
  70: string.unquote(70+"px"), 72: string.unquote(72+"px"), 74: string.unquote(74+"px"), 76: string.unquote(76+"px"), 78: string.unquote(78+"px"),
  80: string.unquote(80+"px"), 82: string.unquote(82+"px"), 84: string.unquote(84+"px"), 86: string.unquote(86+"px"), 88: string.unquote(88+"px"),
  90: string.unquote(90+"px"), 92: string.unquote(92+"px"), 94: string.unquote(94+"px"), 96: string.unquote(96+"px"), 98: string.unquote(98+"px"),
  100: string.unquote(100+"px"), 102: string.unquote(102+"px"), 104: string.unquote(104+"px"), 106: string.unquote(106+"px"), 108: string.unquote(108+"px"),
  110: string.unquote(110+"px"), 112: string.unquote(112+"px"), 114: string.unquote(114+"px"), 116: string.unquote(116+"px"), 118: string.unquote(118+"px"),
  120: string.unquote(120+"px"), 122: string.unquote(122+"px"), 124: string.unquote(124+"px"), 126: string.unquote(126+"px"), 128: string.unquote(128+"px"),
  130: string.unquote(130+"px"), 132: string.unquote(132+"px"), 134: string.unquote(134+"px"), 136: string.unquote(136+"px"), 138: string.unquote(138+"px"),
  140: string.unquote(140+"px"), 142: string.unquote(142+"px"), 144: string.unquote(144+"px"), 146: string.unquote(146+"px"), 148: string.unquote(148+"px"),
  150: string.unquote(150+"px"), 152: string.unquote(152+"px"), 154: string.unquote(154+"px"), 156: string.unquote(156+"px"), 158: string.unquote(158+"px"),
  160: string.unquote(160+"px"), 162: string.unquote(162+"px"), 164: string.unquote(164+"px"), 166: string.unquote(166+"px"), 168: string.unquote(168+"px"),
  170: string.unquote(170+"px"), 172: string.unquote(172+"px"), 174: string.unquote(174+"px"), 176: string.unquote(176+"px"), 178: string.unquote(178+"px"),
  180: string.unquote(180+"px"), 182: string.unquote(182+"px"), 184: string.unquote(184+"px"), 186: string.unquote(186+"px"), 188: string.unquote(188+"px"),
  190: string.unquote(190+"px"), 192: string.unquote(192+"px"), 194: string.unquote(194+"px"), 196: string.unquote(196+"px"), 198: string.unquote(198+"px"),
  200: string.unquote(200+"px"), 202: string.unquote(202+"px"), 204: string.unquote(204+"px"), 206: string.unquote(206+"px"), 208: string.unquote(208+"px"),
  210: string.unquote(210+"px"), 212: string.unquote(212+"px"), 214: string.unquote(214+"px"), 216: string.unquote(216+"px"), 218: string.unquote(218+"px"),
  220: string.unquote(220+"px"), 222: string.unquote(222+"px"), 224: string.unquote(224+"px"), 226: string.unquote(226+"px"), 228: string.unquote(228+"px"),
  230: string.unquote(230+"px"), 232: string.unquote(232+"px"), 234: string.unquote(234+"px"), 236: string.unquote(236+"px"), 238: string.unquote(238+"px"),
  240: string.unquote(240+"px"), 242: string.unquote(242+"px"), 244: string.unquote(244+"px"), 246: string.unquote(246+"px"), 248: string.unquote(248+"px"),
  250: string.unquote(250+"px"), 252: string.unquote(252+"px"), 254: string.unquote(254+"px"), 256: string.unquote(256+"px"), 258: string.unquote(258+"px"),
  260: string.unquote(260+"px"), 262: string.unquote(262+"px"), 264: string.unquote(264+"px"), 266: string.unquote(266+"px"), 268: string.unquote(268+"px"),
  270: string.unquote(270+"px"), 272: string.unquote(272+"px"), 274: string.unquote(274+"px"), 276: string.unquote(276+"px"), 278: string.unquote(278+"px"),
  280: string.unquote(280+"px"), 282: string.unquote(282+"px"), 284: string.unquote(284+"px"), 286: string.unquote(286+"px"), 288: string.unquote(288+"px"),
  290: string.unquote(290+"px"), 292: string.unquote(292+"px"), 294: string.unquote(294+"px"), 296: string.unquote(296+"px"), 298: string.unquote(298+"px"),
  300: string.unquote(300+"px"), 302: string.unquote(302+"px"), 304: string.unquote(304+"px"), 306: string.unquote(306+"px"), 308: string.unquote(308+"px"),
);

@for $i from 1 through list.length(map.keys($scrollMargin)) {
  $name: list.nth(map.keys($scrollMargin), $i);
  $values: list.nth(map.values($scrollMargin), $i);

  .scroll-m-#{$name} {
    scroll-margin: $values;
  }

  .scroll-mx-#{$name} {
    scroll-margin-left: $values;
    scroll-margin-right: $values;
  }

  .scroll-my-#{$name} {
    scroll-margin-top: $values;
    scroll-margin-bottom: $values;
  }

  .scroll-mt-#{$name} {
    scroll-margin-top: $values;
  }

  .scroll-mr-#{$name} {
    scroll-margin-right: $values;
  }

  .scroll-mb-#{$name} {
    scroll-margin-bottom: $values;
  }

  .scroll-ml-#{$name} {
    scroll-margin-left: $values;
  }

  // scroll-padding
  .scroll-p-#{$name} {
    scroll-padding: $values;
  }

  .scroll-px-#{$name} {
    scroll-padding-left: $values;
    scroll-padding-right: $values;
  }

  .scroll-py-#{$name} {
    scroll-padding-top: $values;
    scroll-padding-bottom: $values;
  }

  .scroll-pt-#{$name} {
    scroll-padding-top: $values;
  }

  .scroll-pr-#{$name} {
    scroll-padding-right: $values;
  }

  .scroll-pb-#{$name} {
    scroll-padding-bottom: $values;
  }

  .scroll-pl-#{$name} {
    scroll-padding-left: $values;
  }
}


/*
* 7. scroll-snap-align
*/
$scrollSnapAlign: start,
end,
center,
none;

@each $values in $scrollSnapAlign {
  .snap-#{$values} {
    scroll-snap-align: $values;
  }
}


/*
* 7. scroll-snap-stop
*/
$scrollSnapStop: normal,
always;

@each $values in $scrollSnapStop {
  .snap-#{$values} {
    -webkit-scroll-snap-stop: $values;
    scroll-snap-stop: $values;
  }
}


/*
* 8. scroll-snap-type
*/
$scrollSnapType: (none: none, x: x mandatory, y: y mandatory, both: both mandatory, xp: x proximity, yp: y proximity, bothp: both proximity);

@for $i from 1 through list.length(map.keys($scrollSnapType)) {
  $name: list.nth(map.keys($scrollSnapType), $i);
  $values: list.nth(map.values($scrollSnapType), $i);

  .snap-#{$name} {
    scroll-snap-type: $values;
  }
}


/*
* 9. touch-action
*/
$touchAction: auto,
none,
pan-x,
pan-left,
pan-right,
pan-y,
pan-up,
pan-down,
pinch-zoom,
manipulation;

@each $values in $touchAction {
  .touch-#{$values} {
    touch-action: $values;
  }
}


/*
* 10. user-select
*/
$userSelect: auto,
none,
text,
all;

@each $values in $userSelect {
  .select-#{$values} {
    -webkit-user-select: $values;
    user-select: $values;
  }
}


/*
* 11. will-change
*/
$willChange: auto,
scroll-position,
contents,
transform;

@each $values in $willChange {
  .will-change-#{$values} {
    will-change: $values;
  }
}