@charset "utf-8";
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
/*!
  Name: sizing
  Author: william
  Author URI:
  Description: elements size.
  Version: 1.0.1
	Tags: size,width,height,min-width,max-width,min-height,max-height
  Update: December 14th,2022
*/

/*
* 1. width
*/
$width:(screen: string.unquote(100+'vw'),min: min-content,max: max-content,fit: fit-content,0: 0, 1: string.unquote(1+'px'),2: string.unquote(2+'px'),3: string.unquote(3+'px'),4: string.unquote(4+'px'),5: string.unquote(5+'px'),6: string.unquote(6+'px'),7: string.unquote(7+'px'),8: string.unquote(8+'px'),9: string.unquote(9+'px'),10: string.unquote(10+'px'),11: string.unquote(11+'px'),12: string.unquote(12+'px'),14: string.unquote(14+'px'),16: string.unquote(16+'px'),20: string.unquote(20+'px'),24: string.unquote(24+'px'),28: string.unquote(28+'px'),32: string.unquote(32+'px'),36: string.unquote(36+'px'),40: string.unquote(40+'px'),44: string.unquote(44+'px'),48: string.unquote(48+'px'),52: string.unquote(52+'px'),56: string.unquote(56+'px'),60: string.unquote(60+'px'),64: string.unquote(64+'px'),80: string.unquote(80+'px'),96: string.unquote(96+'px'),112: string.unquote(112+'px'),128: string.unquote(128+'px'),144: string.unquote(144+'px'),160: string.unquote(160+'px'),192: string.unquote(192+'px'),224: string.unquote(224+'px'),288: string.unquote(288+'px'),352: string.unquote(352+'px'),3xs: 10%,2xs: 20%, xs: 30%, s: 40%,m: 50%,l: 60%,xl: 70%,2xl: 80%, 3xl: 90%,full: 100%,auto: auto);
@for $i from 1 through list.length(map.keys($width)) {
  $name: list.nth(map.keys($width), $i);
  $values: list.nth(map.values($width), $i);
  .w-#{$name}{
    width: $values;
  }
}


/*
* 2. min-width
*/
$minWidth: (0: 0, full: 100%, min: min-content, max: max-content, fit: fit-content);
@for $i from 1 through list.length(map.keys($minWidth)) {
  $name: list.nth(map.keys($minWidth), $i);
  $values: list.nth(map.values($minWidth), $i);
  .min-w-#{$name}{
    min-width: $values;
  }
}


/*
* 3. max-width
*/
$maxWidth:(none: none, 0: 0, full: 100%, min: min-content, max: max-content, fit: fit-content,xs: string.unquote(320+'px'), sm: string.unquote(384+'px'), md: string.unquote(448+'px'), lg: string.unquote(512+'px'), xl: string.unquote(576+'px'), 2xl: string.unquote(672+'px'), 3xl: string.unquote(768+'px'), 4xl: string.unquote(896+'px'), 5xl: string.unquote(1024+'px'), 6xl: string.unquote(1152+'px'), 7xl: string.unquote(1280+'px'), screen-sm: string.unquote(640+'px'), screen-md: string.unquote(768+'px'), screen-lg: string.unquote(1024+'px'), screen-xl: string.unquote(1280+'px'), screen-2xl: string.unquote(1536+'px'), screen-3xl: string.unquote(1792+'px'), screen-4xl: string.unquote(2048+'px'), screen-5xl: string.unquote(2304+'px'), screen-6xl: string.unquote(2560+'px'));
@for $i from 1 through list.length(map.keys($maxWidth)) {
  $name: list.nth(map.keys($maxWidth), $i);
  $values: list.nth(map.values($maxWidth), $i);
  .max-w-#{$name}{
    max-width: $values;
  }
}


/*
* 4. height
*/
$height:(screen: string.unquote(100+'vh'),min: min-content,max: max-content,fit: fit-content,0: 0, 1: string.unquote(1+'px'),2: string.unquote(2+'px'),3: string.unquote(3+'px'),4: string.unquote(4+'px'),5: string.unquote(5+'px'),6: string.unquote(6+'px'),7: string.unquote(7+'px'),8: string.unquote(8+'px'),9: string.unquote(9+'px'),10: string.unquote(10+'px'),11: string.unquote(11+'px'),12: string.unquote(12+'px'),14: string.unquote(14+'px'),16: string.unquote(16+'px'),20: string.unquote(20+'px'),24: string.unquote(24+'px'),28: string.unquote(28+'px'),32: string.unquote(32+'px'),36: string.unquote(36+'px'),40: string.unquote(40+'px'),44: string.unquote(44+'px'),48: string.unquote(48+'px'),52: string.unquote(52+'px'),56: string.unquote(56+'px'),60: string.unquote(60+'px'),64: string.unquote(64+'px'),80: string.unquote(80+'px'),96: string.unquote(96+'px'),112: string.unquote(112+'px'),128: string.unquote(128+'px'),144: string.unquote(144+'px'),160: string.unquote(160+'px'),192: string.unquote(192+'px'),224: string.unquote(224+'px'),288: string.unquote(288+'px'),352: string.unquote(352+'px'),3xs: 10%,2xs: 20%, xs: 30%, s: 40%,m: 50%,l: 60%,xl: 70%,2xl: 80%, 3xl: 90%,full: 100%,auto: auto);
@for $i from 1 through list.length(map.keys($height)) {
  $name: list.nth(map.keys($height), $i);
  $values: list.nth(map.values($height), $i);
  .h-#{$name}{
    height: $values;
  }
}


/*
* 5. min-height
*/
$minHeight: (0: 0, full: 100%, screen: string.unquote(100+'vh'), min: min-content, max: max-content, fit: fit-content);
@for $i from 1 through list.length(map.keys($minHeight)) {
  $name: list.nth(map.keys($minHeight), $i);
  $values: list.nth(map.values($minHeight), $i);
  .min-h-#{$name}{
    min-height: $values;
  }
}


/*
* 6. max-height
*/
$maxHeight: (0: 0, full: 100%, min: min-content, max: max-content, fit: fit-content,1: string.unquote(1+'px'), 2: string.unquote(2+'px'), 4: string.unquote(4+'px'), 6: string.unquote(6+'px'), 8: string.unquote(8+'px'), 10: string.unquote(10+'px'), 12: string.unquote(12+'px'), 14: string.unquote(14+'px'), 16: string.unquote(16+'px'), 20: string.unquote(20+'px'), 24: string.unquote(24+'px'), 28: string.unquote(28+'px'), 32: string.unquote(32+'px'), 36: string.unquote(36+'px'), 40: string.unquote(40+'px'), 44: string.unquote(44+'px'), 48: string.unquote(48+'px'), 56: string.unquote(56+'px'), 64: string.unquote(64+'px'), 80: string.unquote(80+'px'), 96: string.unquote(96+'px'), 112: string.unquote(112+'px'), 128: string.unquote(128+'px'), 144: string.unquote(144+'px'), 160: string.unquote(160+'px'), 176: string.unquote(176+'px'), 192: string.unquote(192+'px'), 208: string.unquote(208+'px'), 224: string.unquote(224+'px'), 240: string.unquote(240+'px'), 256: string.unquote(256+'px'), 288: string.unquote(288+'px'), 320: string.unquote(320+'px'), 384: string.unquote(384+'px'), screen: string.unquote(100+'vh'));
@for $i from 1 through list.length(map.keys($maxHeight)) {
  $name: list.nth(map.keys($maxHeight), $i);
  $values: list.nth(map.values($maxHeight), $i);
  .max-h-#{$name}{
    max-height: $values;
  }
}