@charset "utf-8";
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
/*!
  Name: spacing
  Author: william
  Author URI:
  Description: elements spacing.
  Version: 1.0.1
	Tags: spacing,padding,margin,space between
  Update: February 19th,2024
*/

/*
* 1. padding
*/
$padding:( 0: 0, 1: string.unquote(1+'px'),2: string.unquote(2+'px'),3: string.unquote(3+'px'),4: string.unquote(4+'px'),5: string.unquote(5+'px'),6: string.unquote(6+'px'),7: string.unquote(7+'px'),8: string.unquote(8+'px'),9: string.unquote(9+'px'),10: string.unquote(10+'px'),11: string.unquote(11+'px'),12: string.unquote(12+'px'),14: string.unquote(14+'px'),16: string.unquote(16+'px'),20: string.unquote(20+'px'),24: string.unquote(24+'px'),28: string.unquote(28+'px'),32: string.unquote(32+'px'),36: string.unquote(36+'px'),40: string.unquote(40+'px'),44: string.unquote(44+'px'),48: string.unquote(48+'px'),52: string.unquote(52+'px'),56: string.unquote(56+'px'),60: string.unquote(60+'px'),64: string.unquote(64+'px'),80: string.unquote(80+'px'),96: string.unquote(96+'px'),112: string.unquote(112+'px'),xs: string.unquote(128+'px'),sm: string.unquote(144+'px'),md: string.unquote(160+'px'),lg: string.unquote(192+'px'),xl: string.unquote(224+'px'),2xl: string.unquote(288+'px'),3xl: string.unquote(352+'px'));
@for $i from 1 through list.length(map.keys($padding)) {
  $name: list.nth(map.keys($padding), $i);
  $values: list.nth(map.values($padding), $i);
  .p-#{$name}{
    padding: $values;
  }

  .px-#{$name}{
    padding-left: $values;
    padding-right: $values;
  }

  .py-#{$name}{
    padding-top: $values;
    padding-bottom: $values;
  }

  .pt-#{$name}{
    padding-top: $values;
  }

  .pr-#{$name}{
    padding-right: $values;
  }

  .pb-#{$name}{
    padding-bottom: $values;
  }

  .pl-#{$name}{
    padding-left: $values;
  }
}


/*
* 2. margin
*/
$margin:( auto: auto, 0: 0, 1: string.unquote(1+'px'),2: string.unquote(2+'px'),3: string.unquote(3+'px'),4: string.unquote(4+'px'),5: string.unquote(5+'px'),6: string.unquote(6+'px'),7: string.unquote(7+'px'),8: string.unquote(8+'px'),9: string.unquote(9+'px'),10: string.unquote(10+'px'),11: string.unquote(11+'px'),12: string.unquote(12+'px'),14: string.unquote(14+'px'),16: string.unquote(16+'px'),20: string.unquote(20+'px'),24: string.unquote(24+'px'),28: string.unquote(28+'px'),32: string.unquote(32+'px'),36: string.unquote(36+'px'),40: string.unquote(40+'px'),44: string.unquote(44+'px'),48: string.unquote(48+'px'),52: string.unquote(52+'px'),56: string.unquote(56+'px'),60: string.unquote(60+'px'),64: string.unquote(64+'px'),80: string.unquote(80+'px'),96: string.unquote(96+'px'),112: string.unquote(112+'px'),xs: string.unquote(128+'px'),sm: string.unquote(144+'px'),md: string.unquote(160+'px'),lg: string.unquote(192+'px'),xl: string.unquote(224+'px'),2xl: string.unquote(288+'px'),3xl: string.unquote(352+'px'));
@for $i from 1 through list.length(map.keys($margin)) {
  $name: list.nth(map.keys($margin), $i);
  $values: list.nth(map.values($margin), $i);
  .m-#{$name}{
    margin: $values;
  }

  .mx-#{$name}{
    margin-left: $values;
    margin-right: $values;
  }

  .my-#{$name}{
    margin-top: $values;
    margin-bottom: $values;
  }

  .mt-#{$name}{
    margin-top: $values;
  }

  .mr-#{$name}{
    margin-right: $values;
  }

  .mb-#{$name}{
    margin-bottom: $values;
  }

  .ml-#{$name}{
    margin-left: $values;
  }

  .m-inline{
    margin-inline: auto;
  }
}


/*
* 3. space between
*/
$spaceBetween: (0: 0, 1: string.unquote(1+'px'),2: string.unquote(2+'px'),4: string.unquote(4+'px'),6: string.unquote(6+'px'),8: string.unquote(8+'px'),10: string.unquote(10+'px'),12: string.unquote(12+'px'),14: string.unquote(14+'px'),16: string.unquote(16+'px'),18: string.unquote(18+'px'),20: string.unquote(20+'px'),22: string.unquote(22+'px'),24: string.unquote(24+'px'),26: string.unquote(26+'px'),28: string.unquote(28+'px'),30: string.unquote(30+'px'),32: string.unquote(32+'px'),36: string.unquote(36+'px'),40: string.unquote(40+'px'),44: string.unquote(44+'px'),48: string.unquote(48+'px'),52: string.unquote(52+'px'),56: string.unquote(56+'px'),60: string.unquote(60+'px'),64: string.unquote(64+'px'),68: string.unquote(68+'px'),80: string.unquote(80+'px'),84: string.unquote(84+'px'),90: string.unquote(90+'px'),96: string.unquote(96+'px'),112: string.unquote(112+'px'),xs: string.unquote(128+'px'),sm: string.unquote(256+'px'),md: string.unquote(384+'px'),lg: string.unquote(512+'px'),xl: string.unquote(640+'px'));
@for $i from 1 through list.length(map.keys($spaceBetween)) {
  $name: list.nth(map.keys($spaceBetween), $i);
  $values: list.nth(map.values($spaceBetween), $i);
  .space-x-#{$name}{
    margin-left: $values;
  }

  .space-y-#{$name}{
    margin-top: $values;
  }
}