@charset "utf-8";
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
/*!
  Name: tables
  Author: william
  Author URI: 
  Description: elements tables.
  Version: 1.0.1
	Tags: tables, border-collapse, border-spacing, table-layout
  Update: December 26th,2022
*/

/*
* 1. border-collapse
*/
$borderCollapse: collapse, separate;
@each $values in $borderCollapse {
  .border-#{$values} {
    border-collapse: $values;
  }
}


/*
* 2. border-spacing
*/
$borderSpacing: (0: 0, 1: string.unquote(1+"px"), 2: string.unquote(2+"px"), 4: string.unquote(4+"px"), 6: string.unquote(6+"px"), 8: string.unquote(8+"px"), 10: string.unquote(10+"px"), 12: string.unquote(12+"px"), 14: string.unquote(14+"px"), 16: string.unquote(16+"px"), 18: string.unquote(18+"px"), 20: string.unquote(20+"px"), 24: string.unquote(24+"px"), 28: string.unquote(28+"px"), 32: string.unquote(32+"px"), 36: string.unquote(36+"px"), 40: string.unquote(40+"px"), 60: string.unquote(60+"px"), 80: string.unquote(80+"px"), 100: string.unquote(100+"px"), 120: string.unquote(120+"px"), 160: string.unquote(160+"px"), 200: string.unquote(200+"px"), 320: string.unquote(320+"px"));

@for $i from 1 through list.length(map.keys($borderSpacing)) {
  $name: list.nth(map.keys($borderSpacing), $i);
  $values: list.nth(map.values($borderSpacing), $i);
  $border-spacing-x: 4px;
  $border-spacing-y: 4px;

  .border-spacing-#{$name}{
    border-spacing: #{$values} #{$values};
  }

  .border-spacing-x-#{$name}{
    border-spacing: #{$values} $border-spacing-y;
  }

  .border-spacing-y-#{$name}{
    border-spacing: $border-spacing-x #{$values};
  }
}


/*
* 3. table-layout
*/
$tableLayout: auto, fixed;
@each $values in $tableLayout {
  .table-#{$values} {
    table-layout: $values;
  }
}