@charset "UTF-8";
/*!
  Name: dcsass
  Author: william
  Author URI:
  Description: base would contain variables, reset, colors etc.
  Version: 1.0.1
	Tags: base,front end,variables
  Update: December 6th,2024
*/

@import "./globals.scss";
@import "./common.scss";
@import "./_fonts.scss";
@import "./onePx.scss";

@import "./_borders","./_breakpoints","./_customscrollbar","./_effects","./_filters","./_flexgrid","./_function","./_graphical","./_interactivity","./_layout","./_sizing","./_spacing","./_tables","./_transforms","./_transitions","./_typography","./_animation","./_backgrounds","./_mixins";

@import "./vendors-loaders.scss","./vendors-pattern.scss","./vendors-shake.scss","./vendors-tips.scss";